body {
	font-family: sans-serif;
    margin: 0;
	max-height: 100%;
}

#header{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px;
    background-color: #4CAF50;
}

form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

label {
    padding-top: 9px;
	margin-right: 10px;
}

select {
	margin-right: 10px;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

#dog-image {
	display: flex;
	justify-content: center;
}

img {
	max-width: 500px;
    border-radius: 20px;
	max-height: 500px;
}
@media only screen and (max-width: 600px) {
	#header{
		font-size: 20px;
	}
	form{
		margin-left: 10px;
		margin-right: 10px;
	}

	label{
		font-size: 25px;
	}

	select{
		font-size: 20px;
	}

	button{
		font-size: 30px;
	}

	img {
		display: flex;
		max-width: 90%;
		max-height: 70vh;
	}
}
